.container {
  //max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  //text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.advantages {
  &-list {
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 60px;
  }
  &-img {
    //width: 450px;
    height: 120px;
    display: flex;
    //padding: 25px 100px;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;
    /*@media screen and (min-width: 480) {
      width: 450px;
      padding-right: 190px;
      padding-left: 190px;
    }*/
  }
  &-title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    /*padding-top: 60px;
    padding-bottom: 60px;*/
    padding-top: 94px;
    padding-bottom: 94px;
    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      padding-top: 48px;
    }
    &-img {
      //width: 270px;
      display: block;
      padding: 25px 100px;
    }
  }
  @media screen and (min-width: 1200px) {
    /*padding-top: 60px;
    padding-bottom: 60px;*/
    padding-top: 94px;
    padding-bottom: 94px;
    &-list {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-top: 48px;
    }
    &-img {
      //width: 270px;
      display: block;
      padding: 25px 100px;
    }
  }
}

.advantages-list .img {
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advantages .advantages-list {
  padding-top: 0px;
}

//.img {
//max-width: 450px;
/*margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    //margin-right: 0;
  }*/
//}

.section-text {
  color: $primary-text-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
  /*@media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }  
  }*/
}
