/*футер*/
/*background footer*/
.footer {
  background-color: $footer-back;
  text-align: center;
  &-box {
    //margin-top: 60px;
    //margin-right: 30px;
  }
  &-contacts {
    padding: 0;
  }
  &-addres {
    //width: 231px;
    //width: 450px;
  }
  &-social {
    //width: 205px;
    //width: 450px;
  }
  &-email {
    //width: 570px;
    //футер мобайл
    //width: 450px;
    //padding в вутере мобайл
    padding-bottom: 60px;
    padding-top: 60px;
  }
  &-subscribe {
    /*display: flex;
    width: 206px;
    justify-content: space-between;
    align-items: flex-end;*/
    padding-left: 0;

    margin-bottom: 0px;
  }
  &-button {
    color: $primary-white-color;
    font-family: inherit;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.88;
    /*display: flex;
    justify-content: center;
    letter-spacing: 0.06em;*/
    text-decoration: none;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-color: $accent-color;
    //padding: 10px 28px 10px 28px;
    background-color: $accent-color;
    .icon-link {
      margin-left: 10px;
    }
  }
  &-links {
    display: flex;
    width: 206px;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 0;

    .link {
      border: 5px;
      width: 44px;
      height: 44px;
      background-color: $footer-link;
      border-radius: 50%;
    }
  }
  &-input {
    width: 100%;
    height: 50px;
    //margin-right: 12px; мобайл не надо
    //мобайл
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.3;
    align-items: center;
    letter-spacing: 0.03em;
    background-color: $footer-back;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    &:focus {
      outline: none;
    }
  }
  .logo {
    color: $accent-color;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.77;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.studio {
  color: $primary-white-color;
}

address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.58;
  letter-spacing: 0.03em;
}

b {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*поле для email*/

.form-footer [placeholder] {
  padding-left: 16px;
}

footer .social-links {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 0px;
  margin: 0px;
}
