/* форма ввода*/

.form {
  text-align: center;
  &-group {
    position: relative;
    margin-top: 28px;
  }
  &-call {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }
  &-input {
    display: block;
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: $title-text-color;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    &:focus {
      outline: none;
      border-color: $accent-color;
    }
    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label {
      color: $accent-color;
      transform: translate(-25px, -40px);
    }
    &:focus ~ .icon-form,
    &:not(:placeholder-shown) ~ .icon-form {
      fill: $accent-color;
    }
  }
  &-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms $timing-function;
  }
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: $accent-color;
  transform: translate(-25px, -40px);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.textarea-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  &:focus {
    outline: none;
    border-color: $accent-color;
  }
  &:focus + .label-comment,
  &:not(:placeholder-shown) + .label-comment {
    color: $accent-color;
    transform: translateY(-35px);
  }
}

.label-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 250ms $timing-function;
}

.accept {
  margin-bottom: 30px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked + .icon-check {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url('../images/full-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
}

.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid $title-text-color;
  border-radius: 4px;
}

.label-confirm {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.71;
  color: $primary-text-color;
}

.icon-button {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  /*transform: translate(30%, -30%);*/
  display: flex;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px;
  border-color: seagreen;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  &:hover {
    fill: $accent-color;
  }
}

.icon-close {
  display: flex;
  width: 11px;
  height: 11px;
}

.link-dogovor {
  color: $accent-color;
}

.button-send {
  background-color: $accent-color;
  color: $primary-white-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
