.hero {
  //display: flex;
  color: $primary-white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 480px;
  height: 600px;
  &-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /*padding-top: 200px;
    padding: 200px 452px 30px 452px;*/
    margin: 0;
  }
}

/*button*/
.button {
  color: $title-text-color;
}

.overlay {
  max-width: 480px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/Header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #212121;
}

.button.primery {
  background-color: $accent-color;
  color: $primary-white-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: 1px solid transparent;
}
