.container-portfolio {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.list-buttons {
  display: flex;
  @media screen and (min-width: 480px) {
    //flex-wrap: wrap;
    //justify-content: start;
  }
  justify-content: center;
  margin: 0;
  margin-left: 30px;
  & :hover {
    color: $primary-white-color;
    background-color: $accent-color;
    font-family: inherit;
    border-radius: 4px;
  }
}

.list-buttons .item + .item {
  margin-left: 8px;
}

.buttons {
  background-color: #f5f4fa;
  color: $title-text-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 100px;
  text-align: center;
  border: 1px solid transparent;
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;
}
