.section .title {
  margin: 0;
  padding-top: 91px;
}

.container-works {
  //width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  //padding-top: 93px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.title-portfolio {
  margin: 0;
}

.is-hidden {
  display: none;
}
