/*Цвета*/
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$icon-color: #afb1b8;
$logo-color: #000000;
$footer-back: #2f303a;
$footer-link: rgba(255, 255, 255, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/*Шрифты*/
$main-font: Roboto, Arial;
$logo-font: Raleway, Arial;
$modal-font: Roboto;
